ul.nav-items{
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
}

#navigation:target .nav-items{
    background: #f0f0f0 none repeat scroll 0 0;
    height: 15.8em;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
}

.close{
    display: none;
}

#navigation:target .open{
    display: none;
}

#navigation:target .close{
    display: block;
}
